* {
    margin: 0;
    padding:0;
}

body {
    /*font-family: 'Mulish', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
}

.main-wrapper {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

.title-block {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
    text-shadow: 2px 2px 2px #c8c8c8;
}
.main-text {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-shadow: 2px 2px 2px #c8c8c8;
}
.info-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-shadow: 2px 2px 2px #c8c8c8;
}

.main-header {
    background: #0A2640;
    padding: 1px;
}

.top-nav {
    padding-top: 56px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}


.top-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.top-menu li {
    margin-left: 40px;
}

.top-menu li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.top-menu li a:hover {
    text-decoration: underline;
}

.btn-log-in {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A2640;
    padding: 8px 40px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    cursor: pointer;
}
.btn-log-in:hover {
    opacity: 0.8;
}

.top-widget-container {
    width: 888px;
    margin: 72px auto 166px;
    color: #FFFFFF;
    text-align: center;
}

.top-widget-container h1, .top-widget-container h2 {
    color: inherit;
    font-weight: 400;
}

.top-widget-container h1
{
    font-size: 20px;
    line-height: 32px;
}

.top-widget-container h2
{
    font-size: 64px;
    padding: 0 20px;
    line-height: 84px;
    margin-top: 12px;

}

.top-widget-container p {
    font-size: 16px;
    padding: 0 48px;
    line-height: 28px;
    margin-top: 18px;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -100px;
}

.gallery-container >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-block {
    background: green;
    border-radius: 24px;
}


.img-block.one {
    width: 300px;
    height: 285px;
}
.img-block.two {
    width: 300px;
    height: 303px;
}
.img-block.three {
    width: 400px;
    height: 632px;
}
.img-block.four {
    width: 302px;
    height: 305px;
}
.img-block.five {
    width: 302px;
    height: 287px;
}

.our-story-container {
    width: 800px;
    margin-top: 20px;
}

.our-story-container .main-text {
    margin-top: 12px;
}

.our-story-container .info-text {
    margin-top: 22px;
}
